
/RationcardRegister/.vs
/RationCardRegister/Helpers/bin/Debug/netcoreapp2.2
/RationCardRegister/Helpers/obj
/RationCardRegister/DataProvider/bin/Debug/netcoreapp2.2
/RationCardRegister/DataProvider/obj
/RationCardRegister/RationCardRegisterWeb/bin/Debug/netcoreapp2.2
/RationCardRegister/RationCardRegisterWeb/obj
/RationCardRegister/BusinessObject/bin/Debug/netcoreapp2.2
/RationCardRegister/BusinessObject/obj
/RationCardRegister/RationCardRegisterWeb/RationCardegisterLog-20190903.txt
/RationCardRegister/RationCardRegisterWeb/RationCardegisterLog-20190904.txt
/-biplabhomePC.gitignore
