@{
    ViewData["Title"] = "Home Page";
}
@*@await Html.PartialAsync("Geolocation")*@
@*@await Html.PartialAsync("NetworkInfo")
@await Html.PartialAsync("BrowserInfo")
@await Html.PartialAsync("Login")*@

<div class="container-fluid">    
    <div class="container">        
        <div class="row">            
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 loginContainer">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="name">Welcome, Jayanta Ghosh</div>
                        <div id="pin">
                            <div class="dots">
                                <div class="dot dot1"></div>
                                <div class="dot dot2"></div>
                                <div class="dot dot3"></div>
                                <div class="dot dot4"></div>
                            </div>
                            <p>Enter the password</p>
                            <div class="numbers">
                                <div class="number 0">0</div>
                                <div class="number 1">1</div>
                                <div class="number 2">2</div>
                                <div class="number 3">3</div>
                                <div class="number 4">4</div>
                                <div class="number 5">5</div>
                                <div class="number 6">6</div>
                                <div class="number 7">7</div>
                                <div class="number 8">8</div>
                                <div class="number 9">9</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 logoAndContactContainer">
                <div class="row myLogoContainer">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <img data-type="image" src="./images/logo.PNG">
                    </div>
                </div>
                <div class="row ">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <img data-type="image" src="./images/backgroundLogin.jpg">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 mySupportBack">
                        <div>For support please contact me</div>
                        <a href="https://linkedin.com/in/arindam-dey-78125213/" target="_blank"><img data-type="image" src="./images/linkedin.png"></a>
                        <a href="https://www.facebook.com/arindam.dey.921677" target="_blank"><img data-type="image" src="./images/facebook.png"></a>
                        <a href="https://twitter.com/biplabhome" target="_blank"><img data-type="image" src="./images/twitter.png"></a>
                        <a href="https://api.whatsapp.com/send?phone=+919830609366&text=Need Support..." target="_blank"><img data-type="image" src="./images/whatsapp.png"></a>
                        <a href="mailto:biplabhome@gmail.com" title="biplabhome@gmail.com"><img data-type="image" src="./images/gmail.png">biplabhome@gmail.com</a>
                        <a href="tel:9830609366"><img data-type="image" src="./images/phone.png">9830609366</a>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 myBlueBack">
                <a href="https://www.facebook.com/profile.php?id=100023782862009" target="_blank"><img data-type="image" src="./images/facebook.png"></a>
                <a href="https://web.whatsapp.com" target="_blank"><img data-type="image" src="./images/whatsapp.png"></a>
                <a href="mailto:jayanta98314@gmail.com" title="jayanta98314@gmail.com"><img data-type="image" src="./images/gmail.png">jayanta98314@gmail.com</a>
                <a href="javascript:void();"><img data-type="image" src="./images/phone.png">9831461743</a>
            </div>
        </div>*@
    </div>
</div>