@{
    ViewData["Title"] = "Home Page";
}
@using Helpers.MasterDataManager.MasterDataBo;
@using Newtonsoft.Json;
@{
    var hof = @Html.Raw(JsonConvert.SerializeObject(MasterData.Hofs.Data));
}
<script>
    $(function () {
        $('#btnRationCardEntrySubmit').click(function (e) {
            alert("jbgyg");
            e.preventDefault();
            var formData = JSON.stringify($("#RationCardEntryForm").serialize());
            $.ajax({
                url: '/Home/SaveRationCardEntry', // url where to submit the request
                type: "POST", // type of action POST || GET
                dataType: 'json', // data type
                data: formData, // post data || get data
                success: function (result) {
                    // you can see the result from the console
                    // tab of the developer tools
                    console.log(result);
                },
                error: function (xhr, resp, text) {
                    console.log(xhr, resp, text);
                }
            });
        });
    });
</script>
<div class="text-center">
    <form name="RationCardEntryForm" id="RationCardEntryForm" action="/Home/SaveRationCardEntry">
        <div>
            <label>Card Number</label>
            <select id="cmbCardCategory">
                <option selected value="1">AAY</option>
                <option value="2">PHH</option>
                <option value="3">SPHH</option>
                <option value="4">RKSY-I</option>
                <option value="5">RKSY-II</option>
            </select>
            <input type="number" id="txtCardNumber" value="" />
        </div>
        <div>
            <label>Name</label>
            <input type="text" id="txtName" value="" />
        </div>
        <div>
            <label>Adhar</label>
            <input type="text" id="txtAdharNumber" value="" />
        </div>
        <div>
            <label>Mobile</label>
            <input type="number" maxlength="10" minlength="5" id="txtMobileNumber" value="" />
        </div>
        <div>
            <label>Head of the Family</label>
            @{
                var hofs = MasterData.Hofs.Data.Select(i => new SelectListItem
                {
                    Text = i.ShowVal,
                    Value = i.Customer_Id,
                    Selected = false
                });
                @Html.DropDownList("cmbHofMasterList", hofs, "Select Head of the Family"
               , new { @class = "", @id = "cmbHofMasterList", @name = "cmbHofMasterList" });
            }

            <label>Relation with HOF</label>
            @{
                var relations = MasterData.Relations.Data.Select(i => new SelectListItem
                {
                    Text = i.Relation,
                    Value = i.Mst_Rel_With_Hof_Id,
                    Selected = false
                });
                @Html.DropDownList("cmbHofRelationList", relations, "Select Relation"
               , new { @class = "", @id = "cmbHofRelationList", @name = "cmbHofRelationList" });
            }
            <label>Head of the family</label>
            <label>Active Card : 5</label>
            <label>Total Card : 10</label>
            <label>CardNumber: RKSY-II 25687456321</label>
            <label>Adhar: 1452 7458 1234 1456</label>
            <label>Mobile: 9845632144</label>
        </div>
        <div>
            <label>Gaurdian</label>
            <input type="text" id="txtGaurdianName" value="" />
            @{
                var gaurianrelations = MasterData.Relations.Data.Select(i => new SelectListItem
                {
                    Text = i.Relation,
                    Value = i.Mst_Rel_With_Hof_Id,
                    Selected = false
                });
                @Html.DropDownList("cmbGaurdianRelationList", gaurianrelations, "Select Relation with Gaurdian"
               , new { @class = "", @id = "cmbGaurdianRelationList", @name = "cmbGaurdianRelationList" });
            }
        </div>
        <div>
            <label>Date Of Birth</label>
            <input type="date" id="dtDob" value="2019-01-31" />
            <label>Age: 29</label>
        </div>
        <div>
            <label>Address</label>
            <input type="text" id="txtAddr1" value="" />
            <input type="text" id="txtAddr2" value="" />
            
            
            @await Html.PartialAsync("PartialGeoName");
                <label>Age: 29</label>
</div>
        <div>
            <label>Remarks</label>
            <input type="text" id="txtRemarks" value="" />
        </div>
        <div>
            <label>Active</label>
            <input type="checkbox" id="chkActive" />
            <label>Since 1st January 2019</label>
        </div>
        <input type="submit" id="btnRationCardEntrySubmit" />
        <input type="reset" id="btnRationCardEntryReset" />
    </form>
</div>
